.main {
    position: relative;
    display: flex;
    margin-top: 50px;
}

.main > .feed {
    width: calc(100% - 350px);
    min-height: calc(100vh - 50px);
    background-color: #F5F6FB;
}

.main > .feed > .container {
    width: 72%;
    margin: 50px auto;
}


.main > .profile {
    width: 350px;
    right: 0;
    min-height: calc(100vh - 50px);
    padding: 50px;
    position: fixed;
    z-index: 5;
}